<mat-card>
  <mat-card-header>
    <div id="icon-container" mat-card-avatar>
      <mat-icon *ngIf="rendezVous?.status === 'done'" class="icon done">done</mat-icon>
      <mat-icon class="icon waiting">date_range</mat-icon>
      <mat-icon *ngIf="rendezVous?.status === 'rescheduled'" class="icon rescheduled">update</mat-icon>
      <mat-icon *ngIf="rendezVous?.status === 'canceled'" class="icon canceled">close</mat-icon>
    </div>

    <button mat-button class="action-button" [matMenuTriggerFor]="actionMenu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #actionMenu="matMenu">
      <button mat-menu-item (click)="update()"><mat-icon class="rescheduled">update</mat-icon>Modifier</button>
      <button mat-menu-item (click)="delete()"><mat-icon class="canceled">close</mat-icon>Supprimer</button>
    </mat-menu>

    <mat-card-title>RDV avec
      <b>{{ rendezVous.clientFirstname }} {{ rendezVous.clientLastname }}</b>
    </mat-card-title>
    <mat-card-subtitle>le
      <i>{{ rendezVous.date | date: 'dd/MM/yy HH:mm' }}</i> 
      <br/>
      à <i>{{rendezVous.clientAdresse }}</i>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>